In [1]:
import numpy as np
import pandas as pd

In [2]:
pip install Quandl

Defaulting to user installation because normal site-packages is not writeable
Collecting Quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from Quandl) (1.16.0)
Collecting more-itertools
  Downloading more_itertools-9.1.0-py3-none-any.whl (54 kB)
     -------------------------------------- 54.2/54.2 kB 216.6 kB/s eta 0:00:00
Requirement already satisfied: requests>=2.7.0 in c:\programdata\anaconda3\lib\site-packages (from Quandl) (2.28.1)
Requirement already satisfied: pandas>=0.14 in c:\programdata\anaconda3\lib\site-packages (from Quandl) (1.4.4)
Requirement already satisfied: numpy>=1.8 in c:\programdata\anaconda3\lib\site-packages (from Quandl) (1.21.5)
Requirement already satisfied: inflection>=0.3.1 in c:\programdata\anaconda3\lib\site-packages (from Quandl) (0.5.1)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from Quandl) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.14->Quandl) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (1.26.11)
Installing collected packages: more-itertools, Quandl
Successfully installed Quandl-3.7.0 more-itertools-9.1.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import quandl

In [4]:
suns=quandl.get("SIDC/SUNSPOTS_A")
suns.head()

LimitExceededError: (Status 429) (Quandl Error QELx01) You have exceeded the anonymous user limit of 50 calls per day. To make more calls today, please register for a free Nasdaq Data Link account and then include your API key with your requests.

In [7]:
pip install nasdaq-data-link

Defaulting to user installation because normal site-packages is not writeable
Collecting nasdaq-data-link
  Downloading Nasdaq_Data_Link-1.0.4-py2.py3-none-any.whl (28 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from nasdaq-data-link) (1.16.0)
Requirement already satisfied: numpy>=1.8 in c:\programdata\anaconda3\lib\site-packages (from nasdaq-data-link) (1.21.5)
Requirement already satisfied: pandas>=0.14 in c:\programdata\anaconda3\lib\site-packages (from nasdaq-data-link) (1.4.4)
Requirement already satisfied: inflection>=0.3.1 in c:\programdata\anaconda3\lib\site-packages (from nasdaq-data-link) (0.5.1)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from nasdaq-data-link) (2.8.2)
Requirement already satisfied: requests>=2.7.0 in c:\programdata\anaconda3\lib\site-packages (from nasdaq-data-link) (2.28.1)
Requirement already satisfied: more-itertools in c:\users\user\appdata\roaming\python\python39\site-packages (from nasdaq-data-link) (9.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.14->nasdaq-data-link) (2022.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (2022.9.14)
Installing collected packages: nasdaq-data-link
Successfully installed nasdaq-data-link-1.0.4
Note: you may need to restart the kernel to use updated packages.

In [11]:
import quandl

# Set your API key
quandl.ApiConfig.api_key = 'n--b5UNiDfa6d1yKzr5N'

# Make an API call
data = quandl.get('NASDAQOMX/COMP', start_date='2023-01-01', end_date='2023-06-01')

# Print the data
print(data)

Empty DataFrame
Columns: [Index Value, High, Low, Total Market Value, Dividend Market Value]
Index: []

In [12]:
suns=quandl.get("SIDC/SUNSPOTS_A")
suns.head()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1700-12-31,8.3,NaN,NaN,1.0
1701-12-31,18.3,NaN,NaN,1.0
1702-12-31,26.7,NaN,NaN,1.0
1703-12-31,38.3,NaN,NaN,1.0
1704-12-31,60.0,NaN,NaN,1.0

In [13]:
suns.tail()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
2016-12-31,39.8,3.9,9940.0,1.0
2017-12-31,21.7,2.5,11444.0,1.0
2018-12-31,7.0,1.1,12611.0,1.0
2019-12-31,3.6,0.5,12884.0,1.0
2020-12-31,8.8,4.1,14440.0,1.0

In [14]:
#column filtering
suns_filtered=suns[['Yearly Mean Total Sunspot Number','Definitive/Provisional Indicator']]
suns_filtered.head()

            Yearly Mean Total Sunspot Number  Definitive/Provisional Indicator
Date
1700-12-31                               8.3                               1.0
1701-12-31                              18.3                               1.0
1702-12-31                              26.7                               1.0
1703-12-31                              38.3                               1.0
1704-12-31                              60.0                               1.0

In [15]:
#boolean filtering
suns[suns['Yearly Mean Total Sunspot Number']>suns['Yearly Mean Total Sunspot Number'].mean()]

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1705-12-31,96.7,NaN,NaN,1.0
1717-12-31,105.0,NaN,NaN,1.0
1718-12-31,100.0,NaN,NaN,1.0
1726-12-31,130.0,NaN,NaN,1.0
1727-12-31,203.3,NaN,NaN,1.0
...,...,...,...,...
2003-12-31,99.3,7.1,7087.0,1.0
2011-12-31,80.8,6.7,6077.0,1.0
2012-12-31,84.5,6.7,5753.0,1.0
2013-12-31,94.0,6.9,5347.0,1.0
2014-12-31,113.3,8.0,5273.0,1.0

In [16]:
#proof filtering
suns["20020101":"20131231"]

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
2002-12-31,163.6,9.8,6588.0,1.0
2003-12-31,99.3,7.1,7087.0,1.0
2004-12-31,65.3,5.9,6882.0,1.0
2005-12-31,45.8,4.7,7084.0,1.0
2006-12-31,24.7,3.5,6370.0,1.0
2007-12-31,12.6,2.7,6841.0,1.0
2008-12-31,4.2,2.5,6644.0,1.0
2009-12-31,4.8,2.5,6465.0,1.0
2010-12-31,24.9,3.4,6328.0,1.0
2011-12-31,80.8,6.7,6077.0,1.0
2012-12-31,84.5,6.7,5753.0,1.0
2013-12-31,94.0,6.9,5347.0,1.0

In [17]:
#describing the dataframe
suns.describe()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
count,321.000000,203.000000,203.000000,321.0
mean,78.517134,7.892118,1691.857143,1.0
std,62.091523,3.866310,2913.060813,0.0
min,0.000000,0.500000,150.000000,1.0
25%,24.200000,4.550000,365.000000,1.0
50%,65.300000,7.600000,365.000000,1.0
75%,115.200000,10.350000,366.000000,1.0
max,269.300000,19.100000,14440.000000,1.0

In [20]:
#looking for missing values 
import pandas as pd
pd.isnull(suns).sum()

Yearly Mean Total Sunspot Number      0
Yearly Mean Standard Deviation      118
Number of Observations              118
Definitive/Provisional Indicator      0
dtype: int64

In [21]:
#dropping missing values
suns.dropna(inplace=True)

In [22]:
pd.isnull(suns).sum()

Yearly Mean Total Sunspot Number    0
Yearly Mean Standard Deviation      0
Number of Observations              0
Definitive/Provisional Indicator    0
dtype: int64

In [23]:
#filling missing values
suns.fillna(0,inplace=True)

In [24]:
pd.isnull(suns).sum()

Yearly Mean Total Sunspot Number    0
Yearly Mean Standard Deviation      0
Number of Observations              0
Definitive/Provisional Indicator    0
dtype: int64

In [29]:
pivot_table = pd.pivot_table(suns, values='Yearly Mean Standard Deviation', index='Date', columns='Yearly Mean Total Sunspot Number', aggfunc='sum')